@value tertiaryColor, linkColor from '../theme.css';

.footer {
  min-height: 50px;
  padding: 10px 0;
  background: tertiaryColor;
  color:linkColor;
  text-align: center;
}

.footer a {
  color:#000 !important;
}

.namchey-logo {
  height: 20px;
}
